name: .NET Build & Release

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore -c Release

    - name: Publish
      run: dotnet publish -c Release -r win-x64 --self-contained false -o ./publish

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: GeminiWebTranslator_v${{ github.run_number }}
        path: ./publish
